.wrapper {
  margin: 0 auto;
  padding: 1%;
}

.header__title {
  text-align: center;
}

.table {
  min-width: 90vw;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  text-shadow: 0 1px 0 #fff;
  color: #2a2a2a;
  background: #fafafa;  
  background-image: linear-gradient(top, #fff, #eaeaea, #fff);
}

.table td {
  line-height: 50px;
  padding: 5px;
  border-bottom: 1px solid #cdcdcd;
  box-shadow: 0 1px 0 white;
  white-space: nowrap;
  text-align: center;
}

/*Body*/
.table tbody td {
  text-align: center;
  font: normal 12px Verdana, Arial, Helvetica;
}
.table td {
  border-right: 1px solid white;
}

.table tbody td:first-child {
  text-align: left;
}

.table td:nth-child(2n) {
  background: #efefef;
  
}

.table td:nth-child(2n-1) {
  background: #e7f3d4;
}

/* .table td:nth-child(4) {
  background: #e7f3d4;  
  background: rgba(184,243,85,0.3);
} */

/*Header*/
.table thead td {
  font: 1em 'trebuchet MS', 'Lucida Sans', Arial;  
  border-radius-topright: 10px;
  border-radius-topleft: 10px; 
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top: 1px solid #eaeaea; 
}

.table thead td:first-child {
  border-top: none;
}

/*Footer*/
.table tfoot td {
  font: bold 1.4em Georgia;  
  border-radius-bottomright: 10px;
  border-radius-bottomleft: 10px; 
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom: 1px solid #dadada;
}

.table tfoot td:first-child {
  border-bottom: none;
}

.form__input {
  width: 110px;
  border-radius: 7px;
}

.form__button {
  width: 90%;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
  color: #fff;
  display:block;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding: 5px 16px;
  margin: 0 auto;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;        
  background-color: rgb( 43, 153, 91 );
  border: 1px solid rgb( 33, 126, 74 );
}
        
.form__button:hover {
background-color: rgb( 75, 183, 141 );
}

.form__delete {
  color: red;
}

.form__edit {
  color: #CF68FD;
}